<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1>Foodash APIs</h1>

    <table id="customers">
        <tr>
            <td><a href="/item">http://localhost:8080/item</a></td>
        </tr>
    </table>

</body>

</html>