<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1>Foodash APIs</h1>

    <table id="customers">
        <tr>
            <td>
                <a href=" /item">http://localhost:8888/item</a>
            </td>
            </tr>
            <tr>
                <td>
                    <a href=" /inventory">http://localhost:8888/inventory</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href=" /customer">http://localhost:8888/customer</a>
                </td>
            </tr>
            <tr>
                <td>
                <a href=" /cart">http://localhost:8888/cart</a>
            </td>
        </tr>
    </table>

</body>

</html>