<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/item.css">
</head>

<body>
    <h1>Items</h1>

    <table id="items">
        <tr>
            <th>Firstname</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr>
            <td><a href="/item">http://localhost:8080/item</a></td>
            <td><a href="/item">update</a></td>
            <td><a href="/item">delete</a></td>
        </tr>
    </table>

</body>

</html>