<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/css/create.css">
</head>

<body>
    <h1>http://localhost:8080/item/update/[id]?[field]=</h1>

    <div class="container">
        <form action="/item/update/<%=id%>?_method=PUT" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="fname">Item Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id='fname' name="item_name" value="<%= name%>">
                </div>
                <div class="col-75">
                    <input type="text" id='fid' name="id" style="display: none;" value=<%=id%>>
                </div>
            </div>

            <br>
            <div class="row">
                <input type="submit" value="Update">
                <a class="cancel_btn" href="/item">Cancel</a>
            </div>
        </form>
    </div>
</body>

</html>